/auto-save-list/
/.mc-lists.el
/smex-items
/tramp
/projectile-bookmarks.eld
/projectile.cache
/savefile/
/custom.el
/elpa/*
/jdee-server/*
/abbrev_defs
**/.DS_Store
/recentf
/network-security.data
meghanada/
eshell/
/.cask